<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>ここにタイトルがはいります</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link href="css/style.css" rel="stylesheet" media="all">
</head>

<body>
  <div class="wrapper">
    <div class="con" id="app">
      <h1 class="con__ttl">
        My Todos
        <span class="info">({{ remainning.length }} / {{ todos.length }})</span>
        <span @click="purge" class="con__btn">Purge</span>
      </h1>

      <ul class="con__menu">
        <li v-for="(todo, index) in todos" class="con__list">
          <input type="checkbox" v-model="todo.isDone">
          <span :class="{done: todo.isDone}">{{ todo.title }}</span>
          <span @click="deleteItem(index)" class="command">[x]</span>
        </li>
        <li v-show="!todos.length" class="con__list">Noting to do, yay</li>
      </ul>

      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem">
        <input type="submit" value="Add">
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
</body>

</html>