.wrapper {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans JP";
}

.con {

  &__box {
    margin-bottom: 18px;
    padding: 2%;
    width: 365px;
    border: 1px solid #ccc;
    border-radius: 4px;

    @include media-middle {
      width: 768px;
    }
  }

  &__ttl {
    margin-bottom: 18px;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
  }


  &__menu {
    margin-bottom: 18px;
    padding: 0 2%;
  }

  &__list {
    margin-bottom: 2%;
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 0.1em;
  }

  &__btn {
    margin: 0 auto;
    padding: 18px;
    width: 200px;
    border-radius: 4px;
    background: rgb(241, 126, 126);
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

form {
  padding: 0 2%;

  &__ttl {
    margin: 10px;
    display: block;
  }
}

label[for=text]{
  margin-bottom: 18px;
  display: block;
}

input[type=text] {
  margin-bottom: 18px;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
}

input[type=submit] {
  margin: 0 auto 18px;
  padding: 12px 48px;
  width: 200px;
  border-radius: 4px;
  background: rgb(154, 226, 230);
  cursor: pointer;
  display: block;
}

.check {
  padding: 12px;
  background: rgb(240, 202, 112);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: .1s;

  &:hover {
    opacity: 0.8;
  }
}

input[type=checkbox]:checked~.check {
  background: rgb(168, 240, 112);
  color: #000;
}


.command {
  padding: 12px;
  background: rgb(241, 126, 126);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: 0.8;
  }
}