body,
html {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP";
  display: flex;
  flex-direction: column;
}

.header {
  padding: 4%;
  background: #eee;

  &__ttl {
    font-size: 18px;

    @include media-middle {
      font-size: 32px;
    }
  }
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
}

.con {
  margin: 0 auto;
  padding: 5% 0;
  width: 100%;
  max-width: 800px;

  &__box {
    padding: 10%;
    margin: 0 auto 10%;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__ttl {
    margin-bottom: 32px;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
  }


  &__menu {
    margin-bottom: 32px;
    padding: 0 2%;
  }

  &__list {
    margin-bottom: 2%;
    padding: 0 14.2%;
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 0.1em;

    & .done {
      text-decoration: line-through;
      color: #ddd;
    }
  }

  &__btn {
    margin: 0 auto 32px;
    padding: 16px 0;
    width: 200px;
    border-radius: 4px;
    background: rgb(241, 126, 126);
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

label[for=text] {
  margin-bottom: 18px;
  font-size: 18px;
  display: block;
}

input[type=text] {
  margin-bottom: 18px;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
}

input[type=submit] {
  margin: 0 auto 18px;
  padding: 12px 48px;
  width: 200px;
  border-radius: 4px;
  font-size: 18px;
  background: rgb(110, 173, 224);
  color: #fff;
  cursor: pointer;
  display: block;
}

// ---------------------------------------------
// .check {
//   padding: 12px;
//   background: rgb(240, 202, 112);
//   color: #fff;
//   border-radius: 4px;
//   cursor: pointer;
//   user-select: none;
//   transition: .1s;

//   &:hover {
//     opacity: 0.8;
//   }
// }

// input[type=checkbox]:checked~.check {
//   background: rgb(168, 240, 112);
//   color: #000;
// }
// ---------------------------------------------
input[type=checkbox] {
  width: 47px;
  height: 47px;
  border-radius: 12px;
  display: inline-block;
  vertical-align: -40%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(163, 226, 138);
  }
}

input[type=checkbox]:checked {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(253, 253, 253, 0.9);
  }
}

.command {
  padding: 12px;
  background: rgb(241, 126, 126);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: 0.8;
  }
}

.footer {
  padding: 4%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}