.wrapper {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.con {
  width: 300px;
  margin: 0 auto;

  &__ttl {
    padding: 16px 0;
    font-style: 16px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  &__btn{
    padding: 10px;
    width: 50px;
    height: 10px;
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 25%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    list-style-type: none;
    line-height: 1.5;

    & > span.done {
      text-decoration: line-through;
      color: #bbb;
    }
  }

}

.command {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
}

.info {
  color: #dddddd;
  font-size: 12px;
  font-weight: normal;
}